<div class="container mt-5 mb-5">
  <h2>Add new post</h2>
  <p>We will add new post here</p>
</div>

<div class="container">
  <form action="/new" method="post">
    <div class="form-floating mb-3">
      <textarea name="content" class="form-control" placeholder="Leave a text here" style="height: 100px"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</div>
